<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        html {
            padding: 0;
            border: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: sans-serif
        }

        body {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
        }

        body > h2, body > p {
            width: 100%;
        }

        p {
            font-size: 2rem;
        }

        .link {
            font-size: 1rem;
        }
    </style>
</head>
<body>
    <h2>Book Created</h2>
    <p>{{.Isbn}} - {{.Title}} - {{.Author}} - {{.Price}}</p>
    <p class="link"><a href="/books/update?isbn={{.Isbn}}">Update Book</a></p>
    <p class="link"><a href="/books">Show all books</a></p>
</body>
</html>